{
  "branches": [
    "main",
    {
      "name": "develop",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "semantic-release-jira-notes",
      {
        "jiraHost": "beam-factory.atlassian.net",
        "ticketPrefixes": [
          "OB"
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "semantic-release-jira-releases",
      {
        "projectId": "OB",
        "releaseNameTemplate": "v${version}",
        "jiraHost": "beam-factory.atlassian.net",
        "ticketPrefixes": [
          "OB"
        ]
      }
    ]
  ]
}
